/* Reset de estilos para quitar márgenes predeterminados y relleno */
html, body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Estilo para el fondo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado principal */
h1 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/* Estilo para los títulos de los libros */
h2 {
    font-size: 24px;
    margin-top: 20px;
}

/* Estilo para los enlaces a los libros */
a {
    text-decoration: none;
    color: #0077cc;
}

/* Estilo para los párrafos con los nombres de los autores */
p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Estilo para los espacios entre elementos */
br {
    margin-bottom: 10px;
}
